<div class="experience px-5 py-5">
    <div class="d-flex w-100 sec-head py-2">
        <h1 class="mx-auto header" style="margin-top: 60px;">
            What I Do?
        </h1>
    </div>
    <div class="col-sm-12 experience-data rounded text-center py-3 mt-3 mx-0 nimated" data-aos="fade-right"
            data-aos-duration="600">
        <div class="row" style="margin-top: 90px;">
                <div class="col-md-6" style="width: 50%;">
                   
                    <div class="featured-box style-3 mb-5" style="margin-top: -10px;">
                        <div class="featured-box-icon text-primary bg-dark-1 shadow-sm rounded"> 
                            <i class="fas fa-palette" style="color: #20c997 !important;"></i> 
                        </div>
                        <h2 class="text-white" style="margin-right: 100px;"><b>Graphic Design</b></h2>
                        <p class="text-white-50 mb-0 text-left" 
                                style="margin-left: 80px; margin-top: -10px; font-size: medium;">
                                Lisque persius interesset his et, 
                            in quot quidam persequeris vim, ad mea essent possim iriure.
                        </p>
                    </div>
                </div>
                        
               <div class="col-md-6" style="width: 50%;">
                   
                    <div class="featured-box style-3 mb-5"  style="margin-top: -10px;">
                        <div class="featured-box-icon text-primary bg-dark-1 shadow-sm rounded"> 
                            <i class="fas fa-desktop" style="color: #20c997 !important;"></i> 
                        </div>
                        <h2 class="text-white" style="margin-right: 110px;"><b>Web Design</b></h2>
                        <p class="text-white-50 mb-0 text-left" 
                        style="margin-left: 82px; margin-top: -10px; font-size: medium;">
                        Lisque persius interesset his et, 
                            in quot quidam persequeris vim, ad mea essent possim iriure.
                        </p>
                    </div>
                </div>
               <div class="col-md-6" style="width: 50%;">
                   
                    <div class="featured-box style-3 mb-5"  style="margin-top: -10px;">
                        <div class="featured-box-icon text-primary bg-dark-1 shadow-sm rounded"> 
                            <i class="fas fa-pencil-ruler" style="color: #20c997 !important;"></i> 
                        </div>
                        <h2 class="text-white" style="margin-right: 105px;"><b>UI/UX Design</b></h2>
                        <p class="text-white-50 mb-0 text-left" 
                        style="margin-left: 80px; margin-top: -10px; font-size: medium;">
                        Lisque persius interesset his et, 
                            in quot quidam persequeris vim, ad mea essent possim iriure.
                        </p>
                    </div>
                </div>
               <div class="col-md-6" style="width: 50%;">
                   
                    <div class="featured-box style-3 mb-5" style="margin-top: -10px;">
                        <div class="featured-box-icon text-primary bg-dark-1 shadow-sm rounded"> 
                            <i class="fas fa-paint-brush" style="color: #20c997 !important;"></i> 
                        </div>
                        <h2 class="text-white" style="margin-right: 40px;"><b>App Design & Develop</b></h2>
                        <p class="text-white-50 mb-0 text-left" 
                        style="margin-left: 80px; margin-top: -10px; font-size: medium;">
                        Lisque persius interesset his et, 
                            in quot quidam persequeris vim, ad mea essent possim iriure.
                        </p>
                    </div>
                </div>
                <div class="col-md-6" style="width: 50%;">
                   
                    <div class="featured-box style-3 mb-5" style="margin-top: -10px;">
                        <div class="featured-box-icon text-primary bg-dark-1 shadow-sm rounded"> 
                            <i class="fas fa-chart-area" style="color: #20c997 !important;"></i> 
                        </div>
                        <h2 class="text-white" style="margin-right: 75px;"><b>Business Analysis</b></h2>
                        <p class="text-white-50 mb-0 text-left" 
                        style="margin-left: 80px; margin-top: -10px; font-size: medium;">
                        Lisque persius interesset his et, 
                            in quot quidam persequeris vim, ad mea essent possim iriure.
                        </p>
                    </div>
                </div>
                <div class="col-md-6" style="width: 50%;">
                   
                    <div class="featured-box style-3 mb-5" style="margin-top: -10px;">
                        <div class="featured-box-icon text-primary bg-dark-1 shadow-sm rounded"> 
                            <i class="fas fa-bullhorn" style="color: #20c997 !important;"></i> 
                        </div>
                        <h2 class="text-white" style="margin-right: 100px;"><b>SEO Marketing</b></h2>
                        <p class="text-white-50 mb-0 text-left" 
                        style="margin-left: 80px; margin-top: -10px; font-size: medium;">
                        Lisque persius interesset his et, 
                            in quot quidam persequeris vim, ad mea essent possim iriure.
                        </p>
                    </div>
                </div>
            </div>
    </div>
</div>